<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:dealership' %}">Dealership</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:review' %}">Review</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}" method="get">About</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}" method="get">Contact Us</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <!--Add a registration form here -->
        <div class="container-fluid">
            <div class="container">
                <br>
                <h4>Contact Us</h4>
                <hr>
                <address alignment="center">
                    <strong>Best Cars, Inc.</strong>
                    <br />
                    1234 South Greenwood Ave Niles
                    <br />
                    IL 70705
                    <br />
                    Sales: 855-324-5764
                    <br />
                    <a href="mailto:#">contact@bestcars.com</a>
                </address>
            </div>
        </div>
    </body>
</html>
